@layer utils {
  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .anchor-name-offset {
    display: block;
    height: var(--site-header-height, 0);
    margin-top: calc(-1 * var(--site-header-height, 0px));
    pointer-events: none;
    visibility: hidden;
  }
}
