/* mig:generated v=0.1.0 gen=wpmig-extract hash=a49031417fbfd84f */
:where(:root) {
  --src-bg-page: #ffffff;
  --src-text: #333333;
  --src-heading: #3db5fb;
  --src-link: #cc3366;
  --src-link-hover: #333366;
  --src-brand: #f7c45d;
  --src-brand-secondary: #3cb5fb;
  --src-brand-muted: #3b5998;
  --src-brand-subtle: #605be5;
  --src-color1: #000000;
  --src-color2: #69727d;
  --src-color3: #777777;
  --src-color4: #ededed;
  --src-color5: #1f2124;
  --src-color6: #3f444b;
  --src-color7: #ff0000;
  --src-color8: #eb4924;
  --src-color9: #cccccc;
  --src-color10: #dc2626;
  --src-color11: #25d366;
  --src-color12: #005be2;
}
