/* mig:generated v=0.1.0 gen=wpmig-extract hash=e70c0949a25f694c */
:where(:root) {
  --src-bg-page: #000000;
  --src-text: #000000;
  --src-heading: #000000;
  --src-link: #ffffff;
  --src-brand: #79a37b;
  --src-brand-secondary: #ba9764;
  --src-color1: #e6e6e6;
  --src-color2: #dcdcdc;
  --src-color3: #cccccc;
  --src-color4: #c3c3c3;
}
