/* mig:generated v=0.1.0 gen=wpmig-extract hash=ac2325664c914b55 */
:where(:root) {
  --src-bg-page: #ffffff;
  --src-text: #333333;
  --src-heading: #000000;
  --src-link: #cc3366;
  --src-link-hover: #333366;
  --src-brand: #d8fffb;
  --src-brand-secondary: #007bff;
  --src-brand-muted: #acbad5;
  --src-brand-subtle: #f6bb06;
  --src-color1: #69727d;
  --src-color2: #4a4a4a;
  --src-color3: #787878;
  --src-color4: #eaeaea;
  --src-color5: #262626;
  --src-color6: #cccccc;
  --src-color7: #dddddd;
  --src-color8: #f3f3f3;
  --src-color9: #3f444b;
  --src-color10: #606266;
  --src-color11: #111111;
  --src-color12: #999999;
}
