/* mig:generated v=0.1.0 gen=tokens hash=d207931bf6aa9a8c */
:where(:root) {
  --src-bg-page: #ffffff;
  --src-text: #292929;
  --src-heading: #292929;
  --src-link: #2b8435;
  --src-link-hover: #930e19;
  --src-brand: #9ecae1;
  --src-brand-secondary: #2b8435;
  --src-brand-muted: #349f40;
  --src-color1: #000000;
  --src-color2: #ececec;
  --src-color3: #707070;
  --src-color4: #666666;
}
